/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background-color: rgb(255,99,72);
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ========== FONTS ================= */

@font-face {
    font-family: 'grutchshadedregular';
    src: url('../fonts/grutchshaded-webfont.eot');
    src: url('../fonts/grutchshaded-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/grutchshaded-webfont.woff') format('woff'),
         url('../fonts/grutchshaded-webfont.ttf') format('truetype'),
         url('../fonts/grutchshaded-webfont.svg#grutchshadedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '3dumbregular';
    src: url('../fonts/3dumb-webfont.eot');
    src: url('../fonts/3dumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/3dumb-webfont.woff') format('woff'),
         url('../fonts/3dumb-webfont.ttf') format('truetype'),
         url('../fonts/3dumb-webfont.svg#3dumbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: '2dumbregular';
    src: url('../fonts/2dumb-webfont.eot');
    src: url('../fonts/2dumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/2dumb-webfont.woff') format('woff'),
         url('../fonts/2dumb-webfont.ttf') format('truetype'),
         url('../fonts/2dumb-webfont.svg#2dumbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
#info, #links  {
    font-family: '3dumbregular';
}

#info {
    font-size: 2.8em;
}

#j, #o, #h, #ho {
    font-family: 'grutchshadedregular';
    font-size: 6em;
}

#title-text, #joho, #alt-text, #nav, #basestar, #carousel1 h2 {
    font-family: '2dumbregular'
}

#nav, #basestar, #carousel1 h2, #links   {
    font-size: 1.5em;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html{
  height: 100%;
}

body {
    background-image: url('../img/spacer.png');
    color: #fff;
    height: 100%;
}
#wrapper {
      background-color: rgba(200,200,200,0.5);
      height: 100%;
}


header {
  width: 100%;
}

header div {
  display: inline-block;
}

#ufoImg{
  position: absolute;
  top: 2%;
  left: 45%;
  width: 20%;
  margin: 0;
  padding: 0;
  padding: 2%;
  transform: rotate(30deg);
  z-index: -2;
}

#nav {
    background: url('../img/arrow.gif') no-repeat right;
    background-size: 50px;
    width: 40%;
    text-align: right;
    padding-right: 70px;
    margin-right: 1%;
    color: yellow;
    float: right;
}

#joho {
    width: 60%;
    text-align: right;
    float: right;
    color: yellow;
    padding: 0 1%;
}

#j, #o, #h, #ho {
    display: inline-block;
    position: relative;
    margin: 0;
    color: yellow;
    text-decoration: none;
}

#o:hover{
    color:#ff00e7 ;
}

#h:hover{
    color: #00ff00;
}

#j:hover{
    color: #00d6ff;
}
#ho:hover{
    color: #f43838;
}

#base {
  margin-top: 50px;
  width: 30%;
  float: right;
  text-align: center;
  clear: right;
}

#basestar {
  color: yellow;
/*  text-align: center;*/
}

#planet {
  width: 80%;
}


#info {
    text-align: left;
    width: 60%;
    margin: 0 10%;
    color: #00ffff;
}

.main {
  width: 100%;
  height: 90%;
}




/* ==========================================================================
   Carousel
   ========================================================================== */
#carousel1 {
    width: 100%;
    height: 60%;
/*    top: 25%;*/
}

#carousel1 h2 {
    text-align: center;
    color: #00FFE7;
    margin:0;
}
#carousel1 img {
    border: 1px dashed white;
}

#carouselText {
    position: absolute;
    bottom: 5%;
    text-align: center;
    width: 100%;
}

#title-text, #alt-text {
    margin: 0.5em;
}

#title-text {
    font-size: 1.5em;
}

#left-but {
    position: absolute;
    left: 5%;
    top: 0;
}

#right-but {
    position: absolute;
    right: 5%;
    top: 0;
}
/* ==========================================================================
   Tooltips
   ========================================================================== */
.tooltip, .arrow:after {
  background: black;
  border: 2px solid white;
}

.tooltip {
  pointer-events: none;
  opacity: 0;
  display: inline-block;
  position: absolute;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
  font: 2em, '2dumbregular', Sans-Serif;
  font-stretch: condensed;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 0 7px black;
}
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  top: -16px;
}
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  bottom: -20px;
  width: 25px;
  height: 25px;
  -webkit-box-shadow: 6px 5px 9px -9px black,
                      5px 6px 9px -9px black;
  -moz-box-shadow: 6px 5px 9px -9px black,
                   5px 6px 9px -9px black;
  box-shadow: 6px 5px 9px -9px black,
              5px 6px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
}
.tooltip.active {
  opacity: 1;
  margin-top: 5px;
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}
.tooltip.out {
  opacity: 0;
  margin-top: -20px;
}
/* ==========================================================================
   About Me
   ========================================================================== */
   #links {
    text-align: center;
   }

   #links img {
    display: inline-block;
    margin: 1em;
   }
/* ==========================================================================
   Contact Form
   ========================================================================== */

 .contact-form {
    font-family: '2dumbregular', sans-serif;
    width: 90%;
    margin: 0 auto;
}
.contact-form h2 {
    color: #00ffe7;
    margin: 5%;
    font-size: 3em;
}

.contact-form input, .contact-form textarea {
    background-color: #dfd8d0;
}

.contact-form div{
    margin:2%;
}

.contact-form label{
    float:left;
    width:30%;
    text-align:right;
    margin:2% 2% 0 0;
    line-height:10%;
    font-family: 'grutchshadedregular';
    font-size: 2em;
}

.contact-form input[type=text]{
    height:10%;
    width:60%;
    font:inherit;
}

.contact-form textarea{
    height:200px;
    width:60%;
    font:inherit;
}

.contact-form input[type=submit],
.contact-form input[type=reset]
{
    width:20%;
    height:30px;
    background-color:#666;
    border:none;
    color:#FFF;
}

.contact-form input[type=reset]{
    margin-left:50%;
}

.contact-form input[type=submit]:hover,
.contact-form input[type=reset]:hover
{
    background-color:yellow;
    color: #ff00e7;
    cursor:pointer;
}

.contact-form p#status{
    padding-left:10%;
    margin-top:2%;
    color:yellow;
    font-size: 1.5em;
}

.contact-form .error-focus{
    border:yellow dotted 2px;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media only screen and (max-width: 801px) {
  #nav {
    width: 50%;
  }

  #nav, #carousel1 h2 {
    font-size: 1.5em;
  }

  #info {
    font-size: 2em;
    top: 30%;
  }

  #j, #o, #h, #ho{
    font-size: 5em;
  }

}

@media only screen and (max-height: 600px){
  #carousel1 {
    height: 55%;
  }

  #carousel1 img, #carousel1 canvas {
    transform: scale(0.8);
  }

  #carouselText {
    bottom: 2%;
    font-size: 1em;
  }

}

@media only screen and (max-width: 601px) {
  #nav {
    width: 40%;
    font-size: 1.3em;
  }

}

@media only screen and (max-width: 481px){
  body{
    height: auto;
  }
  #joho {
    float: none;
    height: auto;
    position: static;
  }
  #planet {
    width: 50%;
  }
  #ufo {
    height: 80%;
    z-index: -2;
  }
  #carousel1 {
    text-align: center;
  }
 #info, #basestar {
  display: none;
  }
  #nav {
    width: 100%;
    background: url('../img/arrowUp.gif') no-repeat center top;
    background-size: 10%; 
    top: 20%;
    color: #00ffe7;
    padding-top: 20%;
  }
  #contact-form {
    width: 100%;
  }
  #contact-form h2, #contact-form label {
    font-size: 1em;
  }

}
@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}